@model  Practica.Models.Miembro

@{
    ViewBag.Title = "AddMembers";
}

<h2>Crear Miembros</h2>


@using (Html.BeginForm("AddMembers","Miembros",FormMethod.Post))
{
    <div class="container">
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="form-group">
                    <label>Nombre</label>
                    @Html.TextBoxFor(modelitem => modelitem.nombre_miembro,new  {@class ="form-control",@id ="nombre_miembro" })
                </div>
                <div class="form-group">
                    <label>Asignaturas</label>
                    @Html.DropDownListFor(modelitem => modelitem.id_asig, (IEnumerable<SelectListItem>)ViewBag.Asignaturas,"Asignaturas",new { @class ="form-control", @id = "asignaturas"})
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    @Html.DropDownListFor(modelitem => modelitem.estado_asig, (IEnumerable<SelectListItem>)ViewBag.Estado,"Estados.." ,new { @class = "form-control", @id = "estado" })
                </div>

                <div class="form-group">
                    <input  type="submit" id="create" value="Crear Miembro" class="btn btn-success"/>
                </div>
            </div>
        </div>


    </div>

}
