@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Integrantes del grupo</p>

<h2>
    <img src="~/img/PAMELA.jpeg" style="float:left;" width="100" height="100" />
   
</h2>

<p>

    <strong> Nombre: </strong> Pamela Felix
    <br />
    <strong> Matricula: </strong> 2017-5277
    <br />
    <strong> Partes que realizo </strong>
    <br />
    -Vincular la aplicación con Facebook
    <br />
    -Consulta de asignaturas en curso:
    <br />
    -Acerca de



</p>

<h2>
    <img src="~/img/MIRANDA.jpeg" style="float:left;" width="180" height="180" />
</h2>

<p>
    <strong> Nombre: </strong>Miranda cuevas
    <br />
    <strong> Matricula: </strong> 2017-5278
    <br />
    <strong> Partes que realizo </strong>
    <br />
    -Agenda electronica
    <br />
    -lector de archivos

</p>